### Predict the marks obtained based on the Number of hours studied and the number of hours slept

### 1.Import Pandas for data processing

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics as met

### 2.Read the CSV file

In [4]:
df = pd.DataFrame(pd.read_csv(r'C:\Users\User\Downloads\02Students.csv'))
df.head()

   Hours  sHours  Marks
0      0       6     34
1      1       7     36
2      1       6     33
3      1       8     39
4      1       8     42

### 3.Split into X (Independent) and Y (predicted)

In [5]:
X= df.drop(['Marks'], axis=1)
y=df['Marks']

In [6]:
#view X
X

    Hours  sHours
0       0       6
1       1       7
2       1       6
3       1       8
4       1       8
5       2       8
6       2       6
7       3       6
8       3       7
9       3       7
10      3       8
11      4       8
12      4       7
13      4       7
14      5       8
15      5       6
16      6       6
17      6       7
18      7       8
19      7       8
20      7       6
21      7       6
22      8       7
23      8       8
24      9       8
25      9       5
26      9       8
27     10       8
28     10       8
29     11       7

In [7]:
#view Y
y

0     34
1     36
2     33
3     39
4     42
5     45
6     38
7     45
8     53
9     46
10    56
11    59
12    55
13    56
14    72
15    59
16    62
17    71
18    78
19    88
20    61
21    74
22    71
23    89
24    82
25    67
26    89
27    81
28    82
29    79
Name: Marks, dtype: int64

### 4.Split train and test data with 30% test size

In [8]:
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=13)

### 5.Train the Multiple Linear Regression

In [9]:
lm = LinearRegression().fit(x_train,y_train)

### 6.Provide the training Data

### 7.Predict the results

In [10]:
pred = lm.predict(x_test)

### 8.Get the R-Squared

In [12]:
met.r2_score(y_test, pred)

0.8723850889629895

### 9.Coefficient and Intercept

In [13]:
#view mlr_coefficient 
lm.coef_

array([5.19134352, 4.2343648 ])

In [14]:
#view mlr_intercept 
lm.intercept_

4.753166209687976

### 10.Calculate the errors using RMSE

In [15]:
np.sqrt(met.mean_squared_error(y_test,pred))

5.640802350011444